.title{
    color: black;
    padding: 12px;
}
.fonts{
    color: black;
}
.font{
    color: #0f0f0f;
}
.fontleft{
    margin: 10px;
    margin-top: 20px;
    color: black;
}
.center-block{
    margin-left: -11px;
}
.layui-input-inline{
    width: 260px !important;
}
.layui-input-block{
    margin-left: 80px;
}
#table1{
    margin-top: 20px;
    padding-top: 10px;
}
.layui-nav{
    background-color:#6F89A2;
}