<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roku.cloudgo.mapper.SellerMapper" >
  <resultMap id="BaseResultMap" type="com.roku.cloudgo.pojo.Seller" >
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="seller_password" property="sellerPassword" jdbcType="VARCHAR" />
    <result column="seller_telephone" property="sellerTelephone" jdbcType="INTEGER" />
    <result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="seller_level" property="sellerLevel" jdbcType="INTEGER" />
    <result column="seller_gender" property="sellerGender" jdbcType="CHAR" />
    <result column="seller_description" property="sellerDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seller_id, seller_name, seller_password, seller_telephone, seller_email, seller_level, 
    seller_gender, seller_description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roku.cloudgo.pojo.SellerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sellers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.roku.cloudgo.pojo.SellerExample" >
    delete from sellers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roku.cloudgo.pojo.Seller" >
    insert into sellers (seller_id, seller_name, seller_password, 
      seller_telephone, seller_email, seller_level, 
      seller_gender, seller_description)
    values (#{sellerId,jdbcType=INTEGER}, #{sellerName,jdbcType=VARCHAR}, #{sellerPassword,jdbcType=VARCHAR}, 
      #{sellerTelephone,jdbcType=INTEGER}, #{sellerEmail,jdbcType=VARCHAR}, #{sellerLevel,jdbcType=INTEGER}, 
      #{sellerGender,jdbcType=CHAR}, #{sellerDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roku.cloudgo.pojo.Seller" >
    insert into sellers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="sellerPassword != null" >
        seller_password,
      </if>
      <if test="sellerTelephone != null" >
        seller_telephone,
      </if>
      <if test="sellerEmail != null" >
        seller_email,
      </if>
      <if test="sellerLevel != null" >
        seller_level,
      </if>
      <if test="sellerGender != null" >
        seller_gender,
      </if>
      <if test="sellerDescription != null" >
        seller_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerPassword != null" >
        #{sellerPassword,jdbcType=VARCHAR},
      </if>
      <if test="sellerTelephone != null" >
        #{sellerTelephone,jdbcType=INTEGER},
      </if>
      <if test="sellerEmail != null" >
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="sellerLevel != null" >
        #{sellerLevel,jdbcType=INTEGER},
      </if>
      <if test="sellerGender != null" >
        #{sellerGender,jdbcType=CHAR},
      </if>
      <if test="sellerDescription != null" >
        #{sellerDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roku.cloudgo.pojo.SellerExample" resultType="java.lang.Integer" >
    select count(*) from sellers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sellers
    <set >
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=INTEGER},
      </if>
      <if test="record.sellerName != null" >
        seller_name = #{record.sellerName,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerPassword != null" >
        seller_password = #{record.sellerPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerTelephone != null" >
        seller_telephone = #{record.sellerTelephone,jdbcType=INTEGER},
      </if>
      <if test="record.sellerEmail != null" >
        seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerLevel != null" >
        seller_level = #{record.sellerLevel,jdbcType=INTEGER},
      </if>
      <if test="record.sellerGender != null" >
        seller_gender = #{record.sellerGender,jdbcType=CHAR},
      </if>
      <if test="record.sellerDescription != null" >
        seller_description = #{record.sellerDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sellers
    set seller_id = #{record.sellerId,jdbcType=INTEGER},
      seller_name = #{record.sellerName,jdbcType=VARCHAR},
      seller_password = #{record.sellerPassword,jdbcType=VARCHAR},
      seller_telephone = #{record.sellerTelephone,jdbcType=INTEGER},
      seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      seller_level = #{record.sellerLevel,jdbcType=INTEGER},
      seller_gender = #{record.sellerGender,jdbcType=CHAR},
      seller_description = #{record.sellerDescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>