<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roku.cloudgo.DAO.mapper.BankRecordMapper" >
  <resultMap id="BaseResultMap" type="com.roku.cloudgo.pojo.BankRecord" >
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_balance" property="userBalance" jdbcType="REAL" />
    <result column="user_score" property="userScore" jdbcType="BIGINT" />
    <result column="payment_code" property="paymentCode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_balance, user_score, payment_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roku.cloudgo.pojo.BankRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BankRole
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.roku.cloudgo.pojo.BankRecordExample" >
    delete from BankRole
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roku.cloudgo.pojo.BankRecord" >
    insert into BankRole (user_id, user_balance, user_score, 
      payment_code)
    values (#{userId,jdbcType=BIGINT}, #{userBalance,jdbcType=REAL}, #{userScore,jdbcType=BIGINT}, 
      #{paymentCode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.roku.cloudgo.pojo.BankRecord" >
    insert into BankRole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userBalance != null" >
        user_balance,
      </if>
      <if test="userScore != null" >
        user_score,
      </if>
      <if test="paymentCode != null" >
        payment_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userBalance != null" >
        #{userBalance,jdbcType=REAL},
      </if>
      <if test="userScore != null" >
        #{userScore,jdbcType=BIGINT},
      </if>
      <if test="paymentCode != null" >
        #{paymentCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roku.cloudgo.pojo.BankRecordExample" resultType="java.lang.Integer" >
    select count(*) from BankRole
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BankRole
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userBalance != null" >
        user_balance = #{record.userBalance,jdbcType=REAL},
      </if>
      <if test="record.userScore != null" >
        user_score = #{record.userScore,jdbcType=BIGINT},
      </if>
      <if test="record.paymentCode != null" >
        payment_code = #{record.paymentCode,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BankRole
    set user_id = #{record.userId,jdbcType=BIGINT},
      user_balance = #{record.userBalance,jdbcType=REAL},
      user_score = #{record.userScore,jdbcType=BIGINT},
      payment_code = #{record.paymentCode,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>