<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- naspace为mapper类 -->
<mapper namespace="com.roku.cloudgo.mapper.ExampleMapper">
    <!-- 由于application.properties中设置了别名，此处type内可以不用完整名称 -->
    <resultMap id="BaseResultMap" type="ExamplePojo">
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="getPojo" parameterType="String" resultType="ExamplePojo" >
        SELECT * FROM example_table
    </select>
</mapper>