<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roku.cloudgo.DAO.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.roku.cloudgo.pojo.Product" >
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="REAL" />
    <result column="product_remaining" property="productRemaining" jdbcType="BIGINT" />
    <result column="product_sales" property="productSales" jdbcType="BIGINT" />
    <result column="product_description" property="productDescription" jdbcType="VARCHAR" />
    <result column="product_image" property="productImage" jdbcType="BIGINT" />
    <result column="product_mark" property="productMark" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    product_id, seller_id, product_name, product_price, product_remaining, product_sales, 
    product_description, product_image, product_mark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roku.cloudgo.pojo.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from products
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.roku.cloudgo.pojo.ProductExample" >
    delete from products
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roku.cloudgo.pojo.Product" >
    insert into products (product_id, seller_id, product_name, 
      product_price, product_remaining, product_sales, 
      product_description, product_image, product_mark
      )
    values (#{productId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=REAL}, #{productRemaining,jdbcType=BIGINT}, #{productSales,jdbcType=BIGINT}, 
      #{productDescription,jdbcType=VARCHAR}, #{productImage,jdbcType=BIGINT}, #{productMark,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.roku.cloudgo.pojo.Product" >
    insert into products
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productRemaining != null" >
        product_remaining,
      </if>
      <if test="productSales != null" >
        product_sales,
      </if>
      <if test="productDescription != null" >
        product_description,
      </if>
      <if test="productImage != null" >
        product_image,
      </if>
      <if test="productMark != null" >
        product_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=REAL},
      </if>
      <if test="productRemaining != null" >
        #{productRemaining,jdbcType=BIGINT},
      </if>
      <if test="productSales != null" >
        #{productSales,jdbcType=BIGINT},
      </if>
      <if test="productDescription != null" >
        #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=BIGINT},
      </if>
      <if test="productMark != null" >
        #{productMark,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roku.cloudgo.pojo.ProductExample" resultType="java.lang.Integer" >
    select count(*) from products
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update products
    <set >
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=BIGINT},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null" >
        product_price = #{record.productPrice,jdbcType=REAL},
      </if>
      <if test="record.productRemaining != null" >
        product_remaining = #{record.productRemaining,jdbcType=BIGINT},
      </if>
      <if test="record.productSales != null" >
        product_sales = #{record.productSales,jdbcType=BIGINT},
      </if>
      <if test="record.productDescription != null" >
        product_description = #{record.productDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.productImage != null" >
        product_image = #{record.productImage,jdbcType=BIGINT},
      </if>
      <if test="record.productMark != null" >
        product_mark = #{record.productMark,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update products
    set product_id = #{record.productId,jdbcType=BIGINT},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_price = #{record.productPrice,jdbcType=REAL},
      product_remaining = #{record.productRemaining,jdbcType=BIGINT},
      product_sales = #{record.productSales,jdbcType=BIGINT},
      product_description = #{record.productDescription,jdbcType=VARCHAR},
      product_image = #{record.productImage,jdbcType=BIGINT},
      product_mark = #{record.productMark,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>